.App {
  text-align: center;
}

ul {
  list-style: none;
}

.navbar {
  width: 100%;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 20%;                 /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center;         /* If you want the text to be centered */
}

a:hover {
  color: hotpink;
}

a:active {
  color: yellow;
}

.centered {
  /* border: 3px solid green; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}


